# Blockchain Backend Option: 'simulated', 'evm', or 'sepolia'
BLOCKCHAIN_BACKEND=simulated

# EVM Node Configuration (Local Hardhat / Anvil / Ganache or Sepolia RPC)
EVM_RPC_URL=http://127.0.0.1:8545
ETH_PRIVATE_KEY=0x4f3edf983ac636a65a842ce7c78d9aa706d3b113bce9c46f30d7d21715b23b1d
CONTRACT_ADDRESS=

# Reverse Image Search API Key (Optional, for SerpAPI Google Lens)
SERPAPI_KEY=
